/* Phone / Main Sizing */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; 
    background-color: whitesmoke;
}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    width: 100%;
}

/* Styling of the Header and its descendants */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #247620;
}

.headerBox {
    display: flex;
    background-color: #247620;
    color: whitesmoke;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: space-evenly;
}

.headerLogo {
    width: 10rem;
    margin-top: 1rem;
}

.cityName {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.chamberName {
    font-size: 0.95rem;
}

.socialMediaLinks {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 1.5rem;
    align-items: center;
    margin: 0.8rem;
}

.socialLogo {
    max-height: 1.99rem;
    max-width: 1.99rem;
}

/* NavBar Styling */
nav {
    background-color: #247620;
    height: fit-content;
    margin: auto;
    width: fit-content;
}

nav button {
    border: none;
    font-size: 2rem;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 0rem;
}

nav ul li {
    margin-top: 0.8rem;
    font-size: 2rem;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    padding-bottom: 0.8rem;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
}

#hamburgerBtn {
    background-color: #1d5e19; 
    border-radius: 0.5rem;
    width: fit-content;
    margin-bottom: 0.5rem;
}

#hamburgerBtn.open {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}

nav ul {display: none;}

nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block; color: whitesmoke;}
#hamburgerBtn span:nth-child(2) {display: none; color: whitesmoke;}

#hamburgerBtn.open span:nth-child(1) {display: none; color: whitesmoke;}
#hamburgerBtn.open span:nth-child(2) {
    display: block;
    color: whitesmoke;
    background-color: #247620;
    padding: 0.3rem;
    border-radius:0.5rem;
}

#navbar.open {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: #1d5e19;
    margin-bottom: 0.8rem;
    align-items: center;
}

#currentDate {
    padding: 0.8rem;
    background-color: #1d5e19;
    border-radius: 0.5rem;
    width: 99%;
    text-align: center;
}
/* End of NavBar Styling */
/* End of Header Styling */

/* Main Content Styling */

p, a, li {font-family: 'Noto Sans', 'PT Sans', sans-serif; color: #033c92;}
h1, h2, .cityName, .chamberName {font-family: 'Noto Serif', 'PT Serif', serif;}

.content {
    margin-bottom: 1rem;
}

/* Chamber Meeting Banner Styling */
.chamberMeetingBanner {
    text-align: center;
}

.chamberMeetingBanner h2 {
    margin: 0;
}
/* End of Chamber Meeting Banner Styling */

/* Hero Banner Styling */
#heroBanner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

#heroBanner h2 {
    font-size: 2.5rem;
    padding-top: 1rem;
}

#heroBanner p {
    margin-bottom: 0;
}

.bannerImg {
    width: 100%;
    height: 40%;
    /* position: relative; */
}

/* .overlay {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
} */
/* End of Hero Banner Styling */

/* General Tile Styling */
.tile {
    padding: 0.8rem;
    background-color: whitesmoke;
    height: fit-content;
    border-radius: 0.8rem;
    color: #195216;
    text-align: center;
    background-color: #cfb69b;
    margin-top: 1rem;
}

.tile h2 {
    margin-top: 0;
}
/* End of General Tile Styling */

/* Weather Tile Styling */
.weatherIcon {
    width: 6rem;
}

.iconTempBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1.5rem;
    font-size: 2rem;
}

.weather p {
    font-size: 1.5rem;
}

/* End of Weather Tile Styling */

/* Join Tile Styling */
.join p {
    text-align: left;
}

.joinDescription, .heroDescription {
    padding: 0 0.5rem 1rem 0.5rem;
}

.joinLink {
    display: block;
    color: whitesmoke;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #247620;
    padding: 0.7rem;
    border-radius: 0.7rem;
    width: 100%;
}
.joinLink h2 {
    margin: 0;
    width: fit-content;
}

/* End of Join Tile Styling */


.newsLink {
    color: whitesmoke;
    text-decoration: none;
    background-color: #247620;
    padding: 0.7rem;
    border-radius: 0.7rem;
}

/* News & Events Tiles Styling */
.newsItems, .eventsItems {
    text-align: left;
}

.newsItems ul, .eventsItems ul {
    padding-left: 1rem;
}

.newsItems ul li, .eventsItems ul li {
    padding-bottom: 1.5rem;
}
/* End of News & Events Tiles Styling */

/* Spotlights Tiles Styling */
.spotlightSubBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.spotlights {
    border: 1px solid #033c92;
    background-color: lightgray;
    border-radius: 0.7rem;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem auto 0.5rem auto;
}

.spotlights h2 {
    font-size: 1.4rem;
}

.spotlightLogo {
    width: 200px;
    height: 100px;
}

.spotlightTagline {
    font-size: 1.2rem;
}

.spotlightSiteLink, .spotlightPhoneNum {
    font-size: 1rem;
}
/* End of Spotlights Tiles Styling */


/* End of Main Content Styling */

/* Footer Styling */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #247620;
    padding-top: 0.8em;
    color: whitesmoke;
    text-align: center;
}

.footerLogo {
    width: 9rem;
}

.footerTitle {
    margin-top: 0px;
}

hr {
    color: #5C5043;
    width: 90%;
    font-size: large;
}
/* End of Footer Styling */