/* Tablet Sizing */
@media only screen and (min-width: 35rem) {

    header {
        display: flex;
        flex-direction: row;
        padding-top: 0.8em;
        column-gap: 1rem;
    }
    
    .headerBox {
        color: whitesmoke;
        flex-wrap: wrap;
        column-gap: 1rem;
    }

    header h1 {
        font-size: 1.5rem;
    }

    .headerTitle {
        display: flex;
        column-gap: 0.4rem;
    }

    .cityName, .chamberName {
        font-size: 1.5rem;
    }

    .headerLogo {
        width: 8rem;
    }

    .socialMediaLinks {
        flex-direction: row;
        /* margin-right: auto; */
    }
    
    .socialLogo {
        max-height: 2rem;
        max-width: 2rem;
    }

    #currentDate {
        font-size: 1.5rem;
    }

    /* End of Header Styling */

    /* Main Content Styling */
    .content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
        margin: 1rem 0px;
    }

    .tile {
        margin-top: 0rem;
    }

    .mediumColumn1 {
        grid-column: 1/-1;
    }

    #spotlightBox {
        display: flex;
        flex-direction: row;
        margin-top: auto;
        gap: 1rem;
        height: 100%;
    }

    .spotlights {
        margin: 0rem;
    }

    .join {
        grid-column: 2/3;
    }

    .weather {
        grid-column: 1/2;
    }

    /* End of Main Content Styling */

    /* Footer Styling */
    footer {
        flex-direction: row;
        justify-content: space-around;
        column-gap: 1rem;
        flex-wrap: wrap;
        font-size: 1rem;
    }

    footer figure {
        margin-left: 0em;
        margin-right: 0.2rem;
    }

    .footerBox1 {
        text-align: left;
        max-width: 15rem;
    }
        
    .footerBox2 {
        margin-left: auto;
        margin-right: 2rem;
    }

    .footerBox3 {
        font-size: 0.8rem;
    }
    /* End of Footer Styling */

}